/languages/gol/source_gen
/languages/gol/classes_gen
/languages/gol/source_gen.caches
/solutions/gol.runtime/source_gen
/solutions/gol.runtime/classes_gen
/solutions/gol.runtime/source_gen.caches
/solutions/gol.sandbox/source_gen
/solutions/gol.sandbox/classes_gen
/solutions/gol.sandbox/source_gen.caches
/gol.iws
